* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(62, 62, 170);
    margin: 0;
    padding: 50px;
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

